@charset "UTF-8";
/* -------body--------- */
body{
    margin: auto 20px;
}

/* -------header-------- */
header{
    width: 100%;
}

.header-nav{
    width: 100%;
    height: 40px;
    background-color: black;
}

.header-nav ul{
    display: flex;
    margin: 10px auto;
    padding-left: 0;
}

.header-nav li{
    list-style: none;
    width: 180px;
    margin-top: 5px;
}

.header-nav li:first-child{
    margin-left: 60px;
}

.header-nav a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* -------main-------- */

main{
    display: flex;
}

/* -------left-------- */
.left{
    width: 75%;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 3px solid blue;
    border-style: solid solid solid none;
}

/* -------books------- */
.books h2{
    vertical-align: middle;
    padding: 20px 0 20px 20px;
    margin: auto;
    border-left: 4px black solid;
    border-bottom: 2px black solid;
}

.books time{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
}

.books img{
    width: 100%;
    vertical-align: bottom;
    /*画像下の余白を消す*/
}

.books p{
    margin: 10px 0 20px 30px;
    letter-spacing: 0.12em; /* 文字間隔 */
    font-size: 20px;
}

/* -------Article-content------- */
.Article-content{
    width: 100%;
}

.Article-content p{
    margin: 0 0 0 30px;
    font-size: 20px;
}

.Article-content ul{ 
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #DDDDDD;
    margin: auto;
    padding-top: 30px;
    padding-left: 0;
}

.Article-content img{
    width: 100%;
    vertical-align: bottom;
    /*画像下の余白を消す*/
}

.Article-content li{
    width: 23%;
    margin: 1%;
    list-style: none; 
}

.Article-content ul p{
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 1vmax;
}

.Article-content a{
    color: black;
    text-decoration: none;
}

/* --------right--------- */
.right{
    border: 3px solid red;
    border-style: solid none solid solid;
    width: 25%;
    padding-top: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.right h3{
    width: 100%;
    height: auto;
    border-bottom: 3px silver dotted;
}

.right li{
    list-style: none;
}

.right a{
    text-decoration: none;
    letter-spacing: 0.12em; /* 文字間隔 */
    color: black;
}

/* --------footer--------- */
footer{
    background-color: black;
    text-align: center;
    padding: 5px 0;
    color: white;
}
